{{#operations}}

import Foundation
import RxSwift

{{#description}}
/** {{description}} */{{/description}}
final class {{classname}}: JSONReactiveAPI {
{{#operation}}
     {{#bodyParam}}
     func {{operationId}}({{#allParams}}{{paramName}}: {{#isEnum}}{{#isContainer}}{{{dataType}}}{{/isContainer}}{{^isContainer}}{{{datatypeWithEnum}}}_{{operationId}}{{/isContainer}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{^required}}?{{/required}}{{#hasMore}}, 
                {{/hasMore}}{{/allParams}}) -> Single<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}> {
                return postJsonBody(baseUrl.joinPath("{{{path}}}"),
                            request: body,
                            headers: [
                            {{#headerParams}}
                            {{> _param}}{{#hasMore}},{{/hasMore}}
                            {{/headerParams}}
                            ]) 
        }
     {{/bodyParam}}

     {{^bodyParam}}
    func {{operationId}}({{#allParams}}{{paramName}}: {{#isEnum}}{{#isContainer}}{{{dataType}}}{{/isContainer}}{{^isContainer}}{{{datatypeWithEnum}}}_{{operationId}}{{/isContainer}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{^required}}?{{/required}}{{#hasMore}}, 
            {{/hasMore}}{{/allParams}}) -> Single<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}> {
            return request(.{{httpMethod}}, baseUrl.joinPath("{{{path}}}"), parameters: [
                {{#allParams}}
                {{^isHeaderParam}} 
                {{> _param}}{{#hasMore}}, {{/hasMore}}
                {{/isHeaderParam}}
                {{/allParams}}
                ], headers: [
                        {{#headerParams}}
                    {{> _param}}{{#hasMore}},{{/hasMore}}
                    {{/headerParams}}
                    ])
            }
     {{/bodyParam}}
{{/operation}}
}
{{/operations}}
 {{#queryParams}}
            {{> _param}}{{#hasMore}}, {{/hasMore}}
            {{/queryParams}}